<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-card-4 w3-animate-left" style="width: {{ site.sidebar_w }}; display: block;" id="mySidebar">
  <div class="w3-bar w3-dark-grey">
    <button class="w3-bar-item w3-button" onclick="selectSidebarOption('TOC')"  title="table of contents">
      <i class="fa-solid fa-table-list"></i>
    </button>
    <button class="w3-bar-item w3-button" onclick="selectSidebarOption('SiteMap')" title="site map">
      <i class="fa-solid fa-sitemap"></i>
    </button>
    <button class="w3-bar-item w3-button w3-right" onclick="sidebarClose()" title="close Sidebar">
      <i class="fa-solid fa-angles-left"></i>
    </button>
  </div>
  
  <div id="TOC" class="sidebar_sel toc_sidebar" class="w3-bar-block" style="display:block">
    <div class="w3-bar-item w3-green">
      {{ page.title }}
    </div>
    <div class="w3-bar-item">
      {% include toc.html html=content %}
    </div>
  </div>
  
  <div id="SiteMap" class="sidebar_sel sitemap_sidebar" style="display:none">
    {% for post in site.documents %}
      <a href="{{ post.url }}" class="w3-button">{{ post.title }}</a>
    {% endfor %}
  </div>
  
</div>

<!-- Sidebar scripts -->
<script>
  function sidebarOpen() {
    document.getElementById("main").style.marginLeft = "{{ site.sidebar_w }}";
    document.getElementById("mySidebar").style.width = "{{ site.sidebar_w }}";
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("openNav").style.display = 'none';
  }
  function sidebarClose() {
    document.getElementById("main").style.marginLeft = "0";
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("openNav").style.display = "inline-block";
  }
  function selectSidebarOption(sidebarOption) {
    var i;
    var x = document.getElementsByClassName("sidebar_sel");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(sidebarOption).style.display = "block";
  }
</script>
