<!-- Sidebar -->
<div class="w3-sidebar w3-theme-d2 w3-card-4 w3-animate-left" style="width: {{ site.sidebar_w }}; display: block;" id="mySidebar">
  <div class="w3-bar w3-theme-dark">
    <button class="w3-bar-item w3-button" onclick="selectSidebarOption('SiteMap')" title="site map">
      <i class="fa-solid fa-sitemap"></i>
    </button>
    <button class="w3-bar-item w3-button" onclick="selectSidebarOption('TOC')"  title="table of contents">
      <i class="fa-solid fa-table-list"></i>
    </button>
    <button class="w3-bar-item w3-button w3-right" onclick="sidebarClose()" title="close Sidebar">
      <i class="fa-solid fa-angles-left"></i>
    </button>
  </div>
  
  {% if page.toc %}
    {% assign display_toc = "display:block" %}
    {% assign display_sitemap = "display:none" %}
  {% else %}
    {% assign display_toc = "display:none" %}
    {% assign display_sitemap = "display:block" %}
  {% endif %}
  <div id="TOC" class="sidebar_sel toc_sidebar" class="w3-bar-block" style={{ display_toc }}>
    <div class="w3-bar-item w3-theme-d3 w3-card">
      {{ page.title }}
    </div>
    <div class="w3-bar-item w3-padding-16 w3-theme-d2">
      {% include toc.html html=content %}
    </div>
  </div>
  
  <div id="SiteMap" class="sidebar_sel sitemap_sidebar" style={{ display_sitemap }}>
    <div class="sidebar_logo">
      <a href="{{ '/' | relative_url }}" style="text-decoration: none;">
        <img src="{{ site.logo | relative_url }}" alt="logo" onerror="this.style.display='none'" class="sidebar_logo">
        <div style="text-align: center;">{{ site.title }}</div>
        <div class="w3-small" style="text-align: center; font-style: italic;">{{ site.tagline }}</div>
      </a>
    </div>
    {% for collection in site.collections %}
      {% if collection.label != "posts" %}
        {% assign id = collection.label %}
        <button onclick="sitemapAccordion('{{ id }}')" class="w3-button w3-block w3-left-align">
          <h5>{{ collection.label | capitalize }}</h5>
        </button>
        
        <div id="{{ id }}" class="w3-container w3-hide">
          {% for post in collection.docs %}
            <a href="{{ post.url }}" class="w3-button {% if post.url == site.url %} active {% endif %}" style="text-overflow: wrap;">
              {{ post.title }}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- Sidebar scripts -->
<script>
  function sidebarOpen() {
    document.getElementById("main").style.marginLeft = "{{ site.sidebar_w }}";
    document.getElementById("mySidebar").style.width = "{{ site.sidebar_w }}";
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("openNav").style.display = 'none';
  }
  function sidebarClose() {
    document.getElementById("main").style.marginLeft = "0";
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("openNav").style.display = "inline-block";
  }
  function selectSidebarOption(sidebarOption) {
    var i;
    var x = document.getElementsByClassName("sidebar_sel");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(sidebarOption).style.display = "block";
  }
  function sitemapAccordion(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>
