---
# Only the main Sass file needs front matter (the dashes are enough)
---
@forward "w3";

{% if site.highlightjs == false %}
@forward "highlight";
{% endif %}

table {
  @extend .w3-table-all;
  @extend .w3-hoverable;
//  @extend .w3-card-4;
}

code {
  font-size: 12px;
}

blockquote {
  @extend .w3-panel;
  @extend .w3-leftbar;
  @extend .w3-light-grey;
  font-style: italic;
}

ul {
  @extend .w3-ul;
  @extend .w3-hoverable;
}

// TOC
.section-nav {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px 30px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

// Hack to fix TOC section links with fixed top navbars
// https://stackoverflow.com/a/17303334/6567806
:target[id]::before {
  content: '';
  display: block;
  height: 50px;
  margin: -30px 0 0;
}
