---
# Only the main Sass file needs front matter (the dashes are enough)
---
@forward "w3";
@forward "w3-theme";

{% if site.highlightjs == false %}
@forward "highlight";
{% else %}
@forward "highlightjs";
{% endif %}

table:not(.hljs-ln) {
  @extend .w3-table-all;
  @extend .w3-hoverable;
//  @extend .w3-card-4;
}

blockquote {
  @extend .w3-panel;
  @extend .w3-leftbar;
  @extend .w3-light-grey;
  font-style: italic;
}

// Sidebar logo
.sidebar_logo {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
}

// TOC
$a-tags: 'a, a:link, a:visited, a:hover, a:active';
$a-tags-hover: 'a:hover';
$a-tags-active: 'a:active';
.toc_sidebar {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 6px;
  }
  #{$a-tags} {
    text-decoration: none;
  }
  /*#{$a-tags-hover} {
    color: blue;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.1em;
  }
  #{$a-tags-active} {
    color: green;
    font-style: italic;
    font-weight: bold;
    font-size: 0.9em;
  }*/
  #{$a-tags-hover} {
    @extend .w3-hover-theme, :hover;
    //@extend .w3-hover-text-theme, :hover;
    //@extend .w3-hover-border-theme, :hover;
  }
}

.toc_inline {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 6px;
  }
  #{$a-tags} {
    text-decoration: none;
    color: darkgray;
  }
  #{$a-tags-hover} {
    //@extend .w3-hover-theme, :hover;
    @extend .w3-hover-text-theme, :hover;
    //@extend .w3-hover-border-theme, :hover;
  }
}

// Hack to fix TOC section links with fixed top navbars
// https://stackoverflow.com/a/17303334/6567806
:target[id]::before {
  content: '';
  display: block;
  height: 50px;
  margin: -30px 0 0;
}
