---
---

<!DOCTYPE html>
  
  {%- include head.html -%}
  
  <body>
    <div class="w3-container">
      
      <i class="fa-solid fa-user"></i>
      <i class="fa-brands fa-github"></i>
      
      <img class="nature" src="assets/img/atrover/kv260_atrover_0001.jpg" width="100%">
      <img class="nature" src="assets/img/atrover/kv260_atrover_0002.jpg" width="100%">
      <img class="nature" src="assets/img/atrover/kv260_atrover_0003.jpg" width="100%">
      <img class="nature" src="assets/img/atrover/kv260_atrover_0004.jpg" width="100%">
      
      <script>
      w3.slideshow(".nature", 1500);
      </script> 
      
      {{ content }}
      
    </div>
  </body>
</html>
