---
---

<!DOCTYPE html>
  
  {%- include head.html -%}
  
  <body>
    {% include header.html %}
    {% include sidebar.html %}
    
    <div id="main" style="margin-left: {{ site.sidebar_w }};">
      <div class="w3-container">
        <!-- Sidebar open button -->
        <div class="w3-top">
          <button id="openNav" class="w3-bar-item w3-button" title="open Sidebar" style="display: none;" onclick="sidebarOpen()">
            <i class="fa-solid fa-angles-right"></i>
          </button>
        </div>
        
        <!-- Page Content -->
        <div class="w3-panel w3-auto">
          {% include top_navbar.html %}
          
          <div class="w3-panel ">
            {{ content }}
          </div>
          
          {% include footer.html %}
        </div>
        
      </div>
    </div>
  </body>
</html>
