---
layout: default
---
<!-- Title & Author card-->
{% capture author %}{{ page.author | default: site.social.name }}{% endcapture %}
{% capture author_about %}{{ page.about_link | default: site.social.links[0] }}{% endcapture %}
<div class="w3-container w3-padding-16">
  <div style="width:80%">
    <div class="w3-padding" style="text-align: right;">
      <h1 class="no_toc w3-text-theme" style="font-weight: bold;">{{page.title}}</h1>
      <h4 class="no_toc" style="font-style: italic;">
        {% if author_about %}
          <a href="{{ author_about }}" class="w3-hover-text-theme" style="text-decoration: none;">{{ author }}</a>
        {% else %}
          {{ author }}
        {% endif %}
      </h4>
    </div>
  </div>
</div>

<!-- TOC? -->
<div class="w3-panel">
  {% if page.toc %}
    <div class="w3-panel w3-border-top w3-border-bottom">
      <details>
        <summary class="w3-text-theme">Table of Contents</summary>
        <div id="TOC-inline" class="toc_inline">
          {% include toc.html html=content %}
        </div>
      </details>
    </div>
  {% endif %}
<!-- Content -->
  {{ content }}
  
</div>
